@using CameraBazaar.App.Extensions
@model CameraBazaar.Models.ViewModels.DeleteCameraVm

@{
    ViewBag.Title = "Delete Camera";
}

<h2>
    <strong>
        @Html.DisplayFor(vm => vm.Make) @Html.DisplayFor(vm => vm.CameraModel)
    </strong>
</h2>
<h3>Are you sure you want to delete this camera ?</h3>
<br />


@Html.Image(Model.ImageUrl, alt: "camera picture")
<br />
<br />

<p>
    <strong>@Html.DisplayNameFor(vm => vm.Price):&nbsp;&nbsp;</strong>
    @Html.DisplayFor(vm => vm.Price)"
</p>
<p>
    <strong>@Html.DisplayNameFor(vm => vm.Quantity):&nbsp;&nbsp;</strong>
    @Html.DisplayFor(vm => vm.Quantity)"
</p>
<p>
    <strong>@Html.DisplayNameFor(vm => vm.IsFullFrame):&nbsp;&nbsp;</strong>
    @if (Model.IsFullFrame == true)
    {
        <span>Yes</span>
    }
    else
    {
        <span>No</span>
    }
</p>
<p>
    <strong>@Html.DisplayNameFor(vm => vm.MinShutterSpeed):&nbsp;&nbsp;</strong>
    @Html.DisplayFor(vm => vm.MinShutterSpeed)"
</p>
<p>
    <strong>@Html.DisplayNameFor(vm => vm.MaxShutterSpeed):&nbsp;&nbsp;</strong>
    1/@Html.DisplayFor(vm => vm.MaxShutterSpeed)
</p>
<p>
    <strong>@Html.DisplayNameFor(vm => vm.MinIso):&nbsp;&nbsp;</strong>
    @Html.DisplayFor(vm => vm.MinIso)
</p>
<p>
    <strong>@Html.DisplayNameFor(vm => vm.MaxIso):&nbsp;&nbsp;</strong>
    @Html.DisplayFor(vm => vm.MaxIso)
</p>
<p>
    <strong>@Html.DisplayNameFor(vm => vm.VideoResolution):&nbsp;&nbsp;</strong>
    @Html.DisplayFor(vm => vm.VideoResolution)p
</p>
<p>
    <strong>@Html.DisplayNameFor(vm => vm.LightMetering):&nbsp;&nbsp;</strong>
    @Html.DisplayFor(vm => vm.LightMetering)
</p>
<p>
    <strong>@Html.DisplayNameFor(vm => vm.Description):&nbsp;&nbsp;</strong>
    @Html.DisplayFor(vm => vm.Description)
</p>
<br />
@using (Html.BeginForm())
{
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Profile", "Users", null, new { @class = "btn btn-default" })
    </div>
}