@using CameraBazaar.App.Extensions
@model CameraBazaar.Models.ViewModels.CameraDetailsVm

@{
    ViewBag.Title = "Camera Details";
}

<h3>
    <strong>
        @Html.DisplayFor(vm => vm.Make) @Html.DisplayFor(vm => vm.CameraModel) - $@Html.DisplayFor(vm => vm.Price) - 
        @if (Model.Quantity > 0)
        {
            <span class="text-success">IN STOCK</span>
        }
        else
        {
            <span class="text-damger">OUT OF STOCK</span>
        }
    </strong>
    <br/>
    @Html.ActionLink($"{Model.Seller.Username}", "Profile", "Users", new { username = $"{Model.Seller.Username}" }, null)
</h3> 
<br/>


@Html.Image(Model.ImageUrl, alt: "camera picture")
<br/>
<br/>
@Html.Partial("_CameraDetails")
<br />