@model IEnumerable<CarDealer.Models.ViewModels.CarsMakeViewModel>

@{
    ViewBag.Title = "Cars";
}

<h2>Cars</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelledDistance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model
    .OrderBy(m=>m.Model).ThenByDescending(td=>td.TravelledDistance)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelledDistance)
            </td>
        </tr>
}

</table>
